* {
	-ThunarAbstractIconView-row-spacing: 10;
	-ThunarAbstractIconView-column-spacing: 10;
}

.thunar .standard-view .view {
	padding: 0px 0px;
}

.thunar .sidebar .view {
	padding-left: 0;
}
.thunar .sidebar .view:selected {
	background-color: rgba(255,255,255,0.05);
	border-left: 2px solid #bf616a;
}

menu,
.context-menu {
	border: none;
}

menu menuitem,
.menu menuitem,
.context-menu menuitem {
	padding: 8px 19px;
}

menu menuitem:hover,
.menu menuitem:hover,
.context-menu menuitem:hover {
	background-color: rgba(255,255,255,0.05);
	color: white;
}



